# sbt
# (may want to keep parts of 'project')
bin/
project/project/
target/
build/
spark-warehouse/
metastore_db/

# eclipse
build
.classpath
.project
.settings
.worksheet

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache
.cache-main

#general
*.class

# ignore very large resources files from the Repository
coursera-hmiller-week3/src/main/resources/timeusage/atussum.csv
coursera-hmiller-week2/src/main/resources/timeusage/stackoverflow.csv

# ignore the experimentations in this module
struct-stream-apps/
struct-stream-apps/*

# ignore the zepellin notebook, log directories
notebook/
logs/
sourcedatafiles